/*
https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements

#ef233c  crvena
#414141  tamno siva
*/
@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
}
ul {
    list-style: none;
}
button {
    background: #ef233c;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
button:hover {
    background: #414141;
    transition: .3 ease;
    cursor: pointer;
}
/* header */

header {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),url(img/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px 30px;
    width: 90%;
    margin: auto;
    position: relative;
    top: 30px;
    flex-wrap: wrap;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    margin-left: 50px;
    color: #414141;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul li a:hover {
    color: #ef233c;
    transition: .3 ease;
}
.logo {
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    color: #414141;
    padding-top: 8px;
}
.logo::first-letter {
    color: #ef233c;
}
nav span {
    letter-spacing: 3px;
    font-size: 2rem;
    font-family: 'Gugi';
    font-weight: bold;
}
header hgroup {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 0 100px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
header hgroup h1 {
    font-size: 3rem;
}
header hgroup p {
    font-size: 1.2rem;
    padding: 20px 0;
    
}

/* one */

.one {
    display: flex;
    flex-wrap: wrap;
    
}
.one .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap;
}
.one .img {
    background-image: url(img/one.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}
.one .text h4 {
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 20px;
}
.one .text h4::after {
    content: "";
    width: 100px;
    height: 30px;
    position: absolute;
    top: 35px;
    left: 0;
}
.one .text p {
    padding: 30px 0;
    
}

/* two */
.two    {
    background: #f8f8f8;
    padding: 50px 0;
}
.two .row:first-child {
    text-align: center;
    padding: 0 150px;
}
.two .row:first-child h4 {
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 0;
        
}
.two .underline {
    display: block;
    content: "";
    height: 3px;
    width: 100px;
    background: #ef233c;
    margin: 0 auto 30px auto;
}
.two .row:first-child p {
    padding: 40px 0;
}
.two .row:last-child {
    display: flex;
    flex-wrap: wrap;
}
.two .column {
    flex: 1;
    margin: 20px 40px 20px 40px;
}
.two .row:last-child .column:nth-child(1) h3::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f099";
    color: #ef233c;
}
.two .row:last-child .column:nth-child(2) h3::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f179";
    color: #ef233c;
}
.two .row:last-child .column:nth-child(3) h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\f140";
    color: #ef233c;
}
.two .column p {
    padding-bottom: 20px;
}
.two .column a {
    color: #ef233c;
}
.two .column a:hover {
    color: #414141;
    transition: .3s ease;
    text-decoration: none;
}
/* three */
.three {
    background-image: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)),url(img/three.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 50px;
    flex-wrap: wrap;
}
.three h4 {
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
}
.three h2 {
    font-size: 2rem;
    
}
.three p {
    margin: 20px 0;
}
/* four */
hgroup {
    text-align: center;
    margin: 40px 0;
}
hgroup h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ef233c;
}
hgroup h2 {
    font-size: 3rem;
}
.four {
    margin: 40px auto;
    width: 90%;
}
.four .col {
    flex: 1;
    padding: 50px;
    background: #f8f8f8;
}
.four .row {
    display: flex;
    flex-wrap: wrap;
}
.four .img1 {
    background-image: url(img/people1.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
.four .img2 {
    background-image: url(img/people2.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
.four .img3 {
    background-image: url(img/people3.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
.four .row:nth-child(2) .img2 {
    order: 2;
}
.four .row:nth-child(2) .text {
    order: 1;
    text-align: right;
}

.four .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
   
}
.four .icons {
    display: flex;
    padding-top: 30px;
    font-size: 2rem;
    flex-wrap: wrap;
    
}
.four .icons a {
    color: #ef233c;
    
}
.four .icons li {
    flex: 1;
}
.four h3 {
    color: #ef233c;
    font-size: 2rem;
}
.four h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/* five */
.five {
    background: #ef233c;
    color: white;
    text-align: center;
    padding: 60px 0;
}
.five h4 {
    font-family: 'Source Sans Pro', sans-serif;
    
}
.five h2 {
    font-size: 3rem;

     }
/* six */

.six .img1 {
    background-image: url(img/project1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.six .img2 {
    background-image: url(img/project11.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.six .img3 {
    background-image: url(img/project3.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.six .img4 {
    background-image: url(img/project4.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.six .img5 {
    background-image: url(img/project5.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.six {
    display: flex;
    flex-wrap: wrap;
}
.six .col {
    flex: 1;
}
.six article:last-child {
    display: flex;
    flex-wrap: wrap;
}
.six article:last-child div {
    flex: 0 0 50%;
}

/* seven */
.seven {
    background: #ef233c;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/* eihgt */
.eight {
    background-image: url(img/section8.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.eight article {
    flex: 1;
    margin: 20px;
}
.eight h2 {
    color: #ef233c;
    font-size: 4rem;
}
.eight h4 {
    padding: 20px 0;
}
/* nine */
.nine {
  
    text-align: center;
    padding: 60px 0;
}
.nine h4 {
    font-family: 'Source Sans Pro', sans-serif;
    
}
.nine h2 {
    font-size: 3rem;

     }
/* ten */
.ten {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.ten article {
    flex: 1;
    padding: 60px;
}
.ten article h3 {
    font-size: 1.5rem;
    text-indent: 15px;
}
.ten article h2 {
    font-size: 2rem;
    padding-bottom: 50px;
}
.ten article span {
    position: relative;
    top: -10px;
    font-size: 1.2rem;
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
}
.ten ul li {
    line-height: 2.5;
}
.ten article:nth-child(2) {
    box-shadow: 0 0 10px gray;
}
.ten article ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    color: #ef233c;
    padding-right: 15px;
}
/* eleven */
.eleven {
    background-image: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)), url(img/ten.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.eleven h4 {
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
}

/* twelve */
.twelve  {
    background: #f8f8f8;
    padding: 60px;
    
}
.twelve h4 {
    color: #ef233c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 900;
    
}
.twelve h2 {
    font-size: 2rem;
    letter-spacing: 1px;
}
.twelve p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}
/* get in touch and form */

.form {
    padding: 30px 0 0 60px;
}
.form article h4 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.form article h4 span {
    color: #ef233c;
}
.form article p {
    padding-bottom: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form input {
    flex: 0 0 48%;
    margin-bottom: 10px;
}
form textarea {
    flex: 0 0 100%;
    margin-bottom: 10px;
}
button {
    padding: 5px 80px;
    justify-content: center;
    margin-bottom: 30px;
}
footer {
    background: #ef233c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
}
footer .icons {
    display: flex;
    font-size: 1.5rem;
    padding-top: 10px;
    
}
footer .icons a {
    color: white;
}
footer .icons li {
    flex: 1;
    padding: 0 20px 0 20px;
}
footer p {
    color: white;
}


/** respn **/

@media(max-width: 768px) {
  
    
    
}


















